<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include ./partials/head-element %>
  <body>
    <h1 align='center'>Add a Book Below</h1>
    <hr />
    <a href="/">
      <p align='center'>Go Back Home</p>
    </a>
    <a href="/list">
      <p align='center'>Go Back to Book List</p>
    </a>
    <hr />
    <div align='center'>
      <form action="/books" method="post">
        <div>
          <input placeholder="Title" type="text" name="title" value="">
        </div>
        <div>
          <input placeholder="Author" type="text" name="authors" value="">
        </div>
        <div>
          <input type="submit" name="" value="Add A Book">
        </div>
      </form>
    </div>
  </body>
</html>
