<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=status%></title>
  </head>
  <body>
    <h1 align='center'>Server responded with a: <%=status%></h1>
    <hr />
    <a href="/">
    <p align='center'>Go Back Home</p>
    </a>
    <a href="/list">
      <p align='center'>Back to book list</p>
    </a>
  </body>
</html>
