<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include ./partials/head-element %>
  <body>
    <h1 align='center'>Welcome to the Home Page</h1>
    <hr />
    <a href="/list">
      <p align='center'>See the Book List</p>
    </a>
  </body>
</html>
